<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Om sidan</title>
</head>
<body>
    <header>
        <div class="navContainer">
            <h1>Mitt CV - kurser</h1>
            <nav>
                <ul>
                    <li><a href="/">Kurser</a></li>
                    <li><a href="/addcourse">Lägg till kurser</a></li>
                    <li><a href="/about" class="active">Om sidan</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="courseContainer">
        <main>
            <h2>Om sidan</h2>
            <p>Detta är en webbapplikation där användaren kan lägga till kurser som användaren har läst via ett formulär.
                Kurserna lagras i en Postgre relationsdatabas som ligger hos Render. 
                Varje kurs har information som kursnamn, kurskod, kursplan och progression. Det finns även en länk för att radera varje enskild kurs.
                
                All kod är skriven i Visual Studio Code och i projektet har nodeJS och express använts. 
            </p>
          
        </main>
    </div>
    <footer>
        <p>Copyrights: Anne-Lii Hansen</p>
    </footer>
</body>

</html>
