<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Om sidan</title>
</head>
<body>
    <header>
        <div class="navContainer">
            <h1>Mina kurser</h1>
            <nav>
                <ul>
                    <li><a href="/">Kurser</a></li>
                    <li><a href="/addcourse">Lägg till kurser</a></li>
                    <li><a href="/about" class="active">Om sidan</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="courseContainer">
        <main>
            <h2>Om sidan</h2>
            <p>Kurser</p>
          
        </main>
    </div>
    <footer>
        <p>Copyrights: Anne-Lii Hansen</p>
    </footer>
</body>

</html>
