<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>L채gg till kurser</title>
</head>
<body>
    <header>
        <div class="container_nav">
            <h1>Mina kurser</h1>
            <nav>
                <ul>
                    <li><a href="/">Kurser</a></li>
                    <li class="active"><a href="/addcourse">L채gg till kurser</a></li>
                    <li><a href="/about">Om sidan</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <main>
            <h2>L채gg till kurser</h2>
            <p>bra va?</p>
            <p>Vilken kurs vill du l채gga till?.</p>
        </main>
    </div>
    <footer>
        <p>Copyrights: Anne-Lii Hansen</p>
    </footer>
</body>
</html>